<html>
<head>
<title>Parking Management System</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script language="javascript">
	function validate(formObj)
	{
	if(formObj.t1.value.length==0)
	{
	alert("Please Enter your Resident ID");
	formObj.t1.focus();
	return false;
	}
	return true;
	}
	</script>
</head>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1><span>Parking Management System</span><small></small></h1>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="menu_nav">
          <ul>
      <li><a href="index">Home</a></li>
      <li><a href="AdminLogin">Admin Login</a></li>
	  <li><a href="ResidentLogin">Resident Login</a></li>
	
   </ul>
        </div>
        <div class="hbg"><img src="{{ url_for('static', filename='images/header_images.jpg') }}" width="915" height="286" alt="" /></div>
      				<center>
<form name ="f1" method="post" action="/ResidentLoginAction" onsubmit="return validate(this);">
<br/>
   <h2><b>Resident Login Page</b></h2>
   
	<font size="" color="red"><center>{{ output|safe }}</center></font>
						
						<table align="center" width="30%" >
			 <tr><td><font size='' color="black">Resident&nbsp;ID</b></td>
			 <td><input type="text" name="t1" style="font-family: Comic Sans MS" size="30"></td></tr>
         
			<tr><td></td><td><input type="submit" value="Submit"></td>
			</table>
				</div>	
					
				</div>
				
					
	</body>
</html>